@    using System.Security.Claims
@model UserRolesViewModel

<form asp-action="Edit" method="post">
    <fieldset class="form-group">
      <legend class="mt-4">@Model.User.UserName's roles:</legend>           
      <div class="form-check">
      @foreach (Claim role in Model.AllRoles)
      {
          @if(Model.UserRoles.Contains(role))
          {
                <input class="form-check-input" name="roles" type="checkbox" value="@role.Value" id="flexCheckChecked" checked="">
                <label class="form-check-label" for="flexCheckChecked">
                @role.Value
                </label>
          }
          else
          {
                <input class="form-check-input" name="roles" type="checkbox" value="@role.Value" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                 @role.Value
                </label>
          }
                
      }          
      </div>
    </fieldset>  
    <button type="submit" class="btn btn-primary">Save</button>
</form>